#(project
  (#(meta
     (#(name lfest)
      #(description "LFE URL Routing Library for YAWS")
      #(version "0.4.0")
      #(keywords ("LFE" "Lisp" "Library" "HTTP" "Server" "Routes"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/lfest")))))
   #(app
     (#(mod #(lfest ()))))))

