{erl_opts, [debug_info]}.

{lfe_first_files, []}.

{deps, [
   {lfe, {git, "git://github.com/rvirding/lfe.git", {branch, "develop"}}},
   {yaws, {git, "git://github.com/klacke/yaws.git", {tag, "yaws-2.0.8"}}}
  ]}.

{plugins, [
   {rebar3_lfe, {git, "git://github.com/lfe-rebar3/rebar3_lfe.git", {branch, "feature/ltest-support"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{profiles, [
  {yaws, [
    {deps, [
         {yaws, {git, "git://github.com/klacke/yaws.git", {tag, "yaws-2.0.8"}}}
      ]}
    ]},
  {test, [
    {eunit_compile_opts, [
      {src_dirs, ["test", "src"]}
      ]}
    ]},
  {docs, [
    {plugins, [
      {lodox, ".*", {git, "https://github.com/quasiquoting/lodox.git", {tag, "0.12.8"}}}
      ]},
    {lodox,
      [{apps,
        [{exemplar,
          [{'source-uri',
            "https://github.com/lfex/exemplar/blob/{version}/{filepath}#L{line}"},
           {'output-path', "docs/master/current/api"}]}]}
      ]}
    ]}
  ]}.
