{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.10.0"}}},
   {lutil, ".*", {git, "git://github.com/lfex/lutil.git", {tag, "0.6.7"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.6.4"}}},
   {yaws, ".*", {git, "git://github.com/klacke/yaws.git", {tag, "yaws-2.0.1"}}}
  ]}.
